* {
    margin: 0;
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.body {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
    color: rgb(221, 221, 221);
}

.videocontainer {
    width: 100%;
    position: absolute;

}

.video {
    height: 100vh;
    width: 100%;
    z-index: -5;
    position: fixed;
    top: 0;
    object-fit: cover;



}

.leftside {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    border: none;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: none;

    align-items: center;
}

.invisbarcontainer {
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: space-between;

}

.leftinvisbar {
    height: 100%;
    width: 25%;
    min-width: 25%;
    min-height: 100%;
    position: relative;


}

.name {
    font-size: 50px;
    margin-top: 20%;
    margin-left: -54px;

}

.undertitle {
    font-size: 27px;
    margin-top: 17px;
    margin-left: -140px;

}

.subtext {
    font-size: 17px;
    margin-top: 26px;
    width: 57%;
}

.logobar {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: end;
    justify-content: center;


}

.logos {
    margin-left: -90px;
    width: 50%;
    height: 20%;
    margin-bottom: 60px;

    display: flex;
    align-items: center;
}

.insta {

    background-image: url(insta.png);
    background-size: 50px;
    background-repeat: no-repeat;

    height: 49%;
    width: 20%;
    margin-left: 10px;
}

.twitter {

    background-image: url(X.png);
    background-size: 50px;
    background-repeat: no-repeat;

    height: 44%;
    width: 18%;
    margin-left: 10px;
}

.github {

    background-image: url(icons8-github-500.png);
    background-size: 45px;
    background-repeat: no-repeat;

    height: 45%;
    width: 15.4%;
    margin-left: 10px;
}

.button1 {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.button2 {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.button3 {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}


.rightside {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    border: none;
    margin: 0;
    position: relative;

    background-color: none;


}

.abouttext {
    margin-left: 10%;
    margin-top: 15%;

}

.ipsum1 {
    margin-bottom: 3%;
    width: 80%;
}

.ipsum2 {
    margin-bottom: 3%;
    width: 80%;
}

.projtitle {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.proj1 {
    display: flex;
    margin-left: 10%;
    height: 10.8%;
    width: 90%;
    margin-bottom: 14%;
    border-radius: 3%;

}

.proj1:hover {
    background-color: rgba(0, 0, 0, 20%);
}

.text1 {
    width: 100%;

}

.img1 {
    min-width: 220px;
    height: auto;
    max-width: 386px;
    background-image: url(sample.jpg);
    background-size: 220px;
    background-repeat: no-repeat;

}

.projtext1 {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    align-items: start;
    width: 50%;
}

.title1 {
    margin-bottom: 10px;
}

.buttonproj1 {
    position: absolute;
    height: 10.8%;
    width: 90%;
    background-color: transparent;
    border: none;

}

@media (max-width: 1000px) {
    .body {
        align-items: center;
        flex-direction: column;

    }


    .logos {
        width: 70%;
        height: 15vh;
        margin: 0;
    }

    .logobar {
        align-items: start;
        height: 100%;
    }


    .rightside {
        display: unset;
        width: 100%;

    }

    .leftside {
        display: contents;
        position: relative;
        width: 100%;
        height: 50vh;

    }

    .proj1 {
        line-height: 12px;
    }

    .projtext1 {
        font-size: 11px;


    }

    .buttonproj1 {
        height: 8%;
    }

    .title1 {
        margin-bottom: 5px;
    }

    .img1 {
        min-width: 0;
        background-size: 130px;
        width: 125px;
    }

    .text1 p {
        line-height: 12px;
    }


}